@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Jugadores de la Seleccion (2023)</h1>

@if (TempData["Tweet"] != null)
{
    <h2>
        Ultimo Tweet
    </h2>

    <div>
        @TempData["UsuarioTwiter"]: <i>"@TempData["Tweet"]"</i>
    </div>
}
<div>
    <ul>
        @foreach (Clase6.PasajeDeDatos.Web.Controllers.Jugador jugador in ViewBag.Jugadores)
        {
            <li>@jugador.Nombre @jugador.Apellido (*)</li>
        }
    </ul>
</div>
<div>
    <span>
        <i>
            (*) Competencias disputadas:
            @foreach (var competencia in ViewBag.Competencias)
            {
                @Html.Raw(" - ") @competencia
            }
        </i>
    </span>
</div>
