@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model.Juguetes)
{
    <div>
        <h3>@item.Nombre</h3>
        <p>$@item.Precio - @item.Descripcion. (@item.EdadMinima)</p>
    </div>
}


<form asp-action="BuscarbyId">
    <label>Juguete a buscar</label>
    <input name="id"/>
    <input type="submit" value="Buscar"/>
</form>

@if (Model.Juguete!=null){
    <div>
        <h3>@Model.Juguete.Nombre</h3>
        <p>$@Model.Juguete.Precio - @Model.Juguete.Descripcion. (@Model.Juguete.EdadMinima)</p>
    </div>
}