@model IEnumerable<Clase7.EF.IslaDelTesoro.Data.Entidades.Ubicacion>

@{
    ViewData["Title"] = "Lista De ubicaciones";
}

<h1>Ubiacciones</h1>

<p>
    <a asp-action="Crear">Crear Una Nueva Ubicacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Eliminar" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
